.category-form-wrap {
  text-align: left;
  .el-input { width: calc(100% - 108px); }
}
.category-form { padding: 20px 25px 0; border-top: 1px solid lightgray; border-bottom: 1px solid lightgray; }
.category-form__btn { padding: 10px 25px; text-align: end; }
.category-tree {
  border-radius: 5px;
  border: 1px solid #DCDFE6;
  padding: 10px 10px 5px;
  .el-tree-node__content { height: auto; border: 1px solid lightgray; margin-bottom: 5px; }
  .el-tree-node__children {  margin-left: 18px; .el-tree-node__content { padding-left: 0px!important; } }
  .custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    height: 100%;
    .label-input {
      width: 80%;
    }
    .el-input__inner { border: none; background-color: transparent; }
  }
  .category-tree__btn { height: 100%; }
  .el-button { height: 40px; margin: 0; border-left: 1px solid lightgray; padding: 0 10px; &:hover { background-color: rgba($color: #000000, $alpha: 0.03); } }
}